
.carousel-demo .product-item .product-item-content {
    border: transparent;
    
    border-radius: 3px;
    
    text-align: center;
    padding: 2rem 0;
}


.carousel-demo .product-item .product-image {
    width: 50%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
                

.txte{
    padding: 10px;
}
.vz{
   margin: 10px;
}
.tfr{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.tfra{
    margin: 20px;
}
