@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+HarunoUmi:wght@500&display=swap');

/* Smartphones (portrait) ----------- */
body{
	height: 100%;
	background-color: white;
}


@media only screen 
and (max-width : 767px) {

	.headerbg{
		background-image: url("../Images/header_final_img.jpg");
	
	 background-position: center center;
	 background-repeat: no-repeat;
	 background-size: cover;
	 height: 0;
	 margin: 2.5vw 2.5vw;
	 padding-bottom: 56.25%;
	 position: relative;
	 text-align: center;
	 z-index: 0;
	 
	
	
	}


	.type-mob{
		font-size: 20px;
		color: rgb(1, 165, 1);
		

	}
	.font-mob{
		font-size: 20px;
		
	
		font-family: 'Kaisei HarunoUmi', serif;
	}
	.font-mob1{
		font-size: 15px;
		color: #1e81b0;
		font-weight: bold;
	
		font-family: 'Kaisei HarunoUmi', serif;
	}

.type-flex{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	

}
	.logo_for_mob{
		background-image: url("../Images/MOB-VIEW-IEEE-HEADER-LOGO.jpg");
		width: 40vw;
		height: 20vh;
		background-size: cover;
		margin: auto;
	 
	
	}
	.head1,.head2,.head3,.primary-navigation,.down_arrow,.icons{
		visibility: hidden;
	}
	
}
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 767px) {
	.mobmenu{
		visibility: hidden;
	}
	nav.primary-navigation {
		margin: 0 auto;
		display: block;
		padding: 20px 0 0 0;
		text-align: center;
		font-size: 16px;

	   
	}
	.type-flex{
		visibility: hidden;
	}
	
	nav.primary-navigation ul li {
		list-style: none;
		margin: 0 auto;
		/* border-left: 2px solid #3ca0e7; */
		display: inline-block;
		padding: 0 30px;
		position: relative;
		text-decoration: none;
		text-align: center;
		font-family: arvo;
	}
.primary-navigation{
	position: absolute;
	top: 0;
	margin: 10px;
	right: 0;
}
	
	nav.primary-navigation li a {
		color: black;
	}
	
	nav.primary-navigation li a:hover {
		color: #3ca0e7;
	}
	
	nav.primary-navigation li:hover {
		cursor: pointer;
	}
	
	nav.primary-navigation ul li ul {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		padding-left: 0;
		left: 0;
		display: none;
		background: white;
	}
	
	nav.primary-navigation ul li:hover > ul,
	  nav.primary-navigation ul li ul:hover {
		visibility: visible;
		opacity: 1;
		display: block;
		min-width: 250px;
		text-align: left;
		padding-top: 20px;
		box-shadow: 0px 3px 5px -1px #ccc;
	}
	
	nav.primary-navigation ul li ul li {
		clear: both;
		width: 100%;
		text-align: left;
		margin-bottom: 20px;
		border-style: none;
	}
	
	nav.primary-navigation ul li ul li a:hover {
		padding-left: 10px;
		border-left: 2px solid #3ca0e7;
		transition: all 0.3s ease;
	}
	
	a {
		text-decoration: none;
	}
	
	a:hover {
		color: #3CA0E7;
	}
	
	ul li ul li a {
		transition: all 0.5s ease;
	}
.headerbg{
	background-image: url("../Images/header_final_img.jpg");
	width: 60vw;
	height: 80vh;
	background-size: cover;
	position: absolute;
	right: 0;
	margin-top: 12vh;
	/* z-index: 1; */


}
.headersat{
	background-image: url("../Images/header_satellite.png");
	width: 10vw;
	height: 20vh;
	background-size: cover;
	position: absolute;
	z-index: 10;
	top: 7vh;
	right: 8vw;

	animation-name: satellite;
	animation-duration: 2s;
	animation-iteration-count: infinite;
	



}


@keyframes satellite {
	0%{
		top: 7vh;
	
	}

50%{
	top: 10vh;
	
}
100%{
	top: 7vh;
}
}
.ityped-cursor{
    color: rgb(41, 199, 41);
    animation-name: blink;
    animation-iteration-count: 0;
    animation-duration: 0.7s;
}
/* .htype{
    color: white;
} */
@keyframes blink {
    50%{
        opacity: 0.5;
    }
    100%{
        opacity: 0;
    }
}
.head1{
	color: #1e81b0;
	font-size: 90px;
	font-weight: bolder;
	position: absolute;
	font-family: 'STIX Two Text', serif;
	margin: 30px;
	padding: 30px;
	top: 30vh;
	left: 5vw;
}
.head2{
	
	font-size: 30px;
	font-weight: bolder;
	position: absolute;
	font-family: 'STIX Two Text', serif;
	margin: 30px;
	padding: 30px;
	top: 43vh;
	left: 5vw;
}
.head3{
	color: #1e82b0ee;
	font-size: 30px;
	font-weight: bolder;
	position: absolute;
	font-family: 'STIX Two Text', serif;
	margin: 30px;
	padding: 30px;
	top: 50vh;
	left: 5vw;
}
.htype{
	color: #00b33cee;
	font-size: 30px;
	font-weight: bolder;
	
	font-family: 'STIX Two Text', serif;
	
}
.ver_line1{
	width: 10px;
	height: 20vh;
	background-color: black;
	position: absolute;
	margin: 40px;
	
}
.ver_line2{
	width: 10px;
	height: 30vh;
	background-color: black;
	position: absolute;
	margin: 40px;
	
	top: 60vh;
}

.icons{
	display: flex;
	flex-direction: column;
	top: 40vh;
	position: absolute;
	margin-left: 26px;
	
}

.icon
{
	padding: 10px;
	font-size: 20px;
}
.down_arrow{
	top: 90vh;
	position: absolute;
	font-size: 70px;
	left: 20vw;
	animation-name: blink;
    animation-iteration-count: infinite;
    animation-duration: 2s;
}
}
.down_arrow:hover{
	cursor: pointer;
}