.ssn_title{
    background-image: url("../Images/SSN_TITLE.jpg");
    width: 20vw;
    height: 20vh;
    background-size: cover;
    z-index: 5;
    margin: auto;
   
 

}
.align-cards{
    position: absolute;
    
    width: 100vw;
}
@media only screen 
and (min-width :1050px) {
    .align-cards{
        top: 490vh;
    }
}
@media only screen 
and (min-width :681px) and (max-width:1050px) {
    .align-cards{
        top: 634vh;
    }
}
@media only screen 
and  (max-width:681px) {
    .align-cards{
        top: 923vh;
    }
}

.container_style{
       position: relative;
      height: 100vh;
   
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: middle
}
.team{
    height: 200vh;
    background-color: white;
}

@media only screen 
and (max-width :1050px) {
.img-team{
    background-image: url("../Images/Team-img.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    margin: 2.5vw 2.5vw;
    padding-bottom: 56.25%;
    position: relative;
    text-align: center;
    z-index: 10;

}
.container_style{
    width: 100%;
}
}
@media only screen 
and (min-width :1050px) {
    .container_style{
        width: 60%;
    }
    .img-team{
        background-image: url("../Images/Team-img.jpg");
        width: 500px;
        height: 500px;
        right: 10px;
        margin: 30px;
        position: absolute;
        background-size: cover;
    }
    
}