body{
    background-color: #ffffff;
}
.underline{
    background-image: url("../Images/Testimonials.jpg");
     margin: auto;
    background-size: cover;
    width: 250px;
    
    height: 250px;
    

    


}
.card_test{
    display: flex;
    flex-direction: column;
    justify-content: center;


}
.img{
    background-image: url("../Images/icons8-face-50.png");
    background-size: cover;
    margin: auto;
    width: 100px;
    height: 100px;
    
}
.words{
margin: auto;
    line-height: 20px;
    font-size: medium;
    text-align: center;
    width: 70vw;
    padding: 20px;
}
.circles{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.icons_circle{
    margin: 10px;
}
.icons_circle1{
    margin: 10px;
    color: rgb(0, 140, 255);
}
.arrows{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.arrow_icons{
font-size: 30px;
color: rgb(0, 140, 255);
}